<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
      <!-- HTML Meta Tags -->
      <title >Don't Know What To Eat Tonight? Try InstaRecipe</title>
      <meta name="description" content="InstaRecipe serves 12.000 recipe ideas instantly. Pick one you like and enjoy! ">

      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="http:instarecipe.nl/">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Don't know what to eat tonight? Try InstaRecipe and find a recipe you'll like!">
      <meta property="og:description" content="InstaRecipe served you 12.000 recipe ideas instantly. Pick one you like and enjoy! ">
      <meta property="og:image" content="https://static.urbandaddy.com/uploads/assets/image/slideshows/standard/beb04fe78446836d46434e7db6d0658a.jpg">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="">
      <meta property="twitter:url" content="http:instarecipe.nl">
      <meta name="twitter:title" content="Don't know what to eat tonight? Try InstaRecipe and find a recipe you'll like!">
      <meta name="twitter:description" content="InstaRecipe  serves you 12.000 recipe ideas instantly. Try InstaRecipe and find a recipe you'll like! ">
      <meta name="twitter:image" content="https://static.urbandaddy.com/uploads/assets/image/slideshows/standard/beb04fe78446836d46434e7db6d0658a.jpg">

      <!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css” integrity=”sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh” crossorigin=”anonymous”>
        <link rel=”stylesheet” href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- Custom style for the spinner on the get new recipe button-->
      <style> 
      
.btn-primary {
  position: relative;
  position: relative;
    cursor: pointer;
}

.btn-primary:active{
  background: #007a63;
}

.button__text {
  color: #ffffff;
  transition: all 0.0s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}


        
      </style>
      </head>

     
<body>


<!-- Start of the code that runs alerts on the whole system. If there is an alert then it will be appended at the top of the <body> you can pass a category from the Python script to set color.-->  
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- This section manages fading out of the alert after 2 secods-->  
<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>
<!-- end of the code that runs alerts-->  



  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
            <h1 onclick="location.href = '/';">&#129368 &#129379 InstaRecipe</h1><h3 onclick="location.href = '/';">12.000 recipes <i>served</i> instantly </h3>

      
    </a>
  </div>
</nav>

<!-- This is the section with the buttons for actions-->
<div class="card">
  <div class="card-body">
  

   <button onclick="location.href = '/new';" type="button"  class="btn btn-outline-primary m-1" href="/new">&#127828 Get new Recipe </button>
    
    <button onclick="location.href = '/add_to_favourites';"type="button" class="btn btn-outline-primary  m-1" href="/about">&#xe022;
    Add to your Favourites  <span class="badge badge-pill badge-info">NEW</span></button>
    
    <button onclick="location.href = '/favourites';"type="button" class="btn btn-outline-primary  m-1"href="/about">&#x2b50; Your Favourite Recipes</button><button type="button"  class="btn btn-outline-secondary m-1"  href="#" data-toggle="modal" data-target="#exampleModal"> &#128227; Share</button>


  <!-- Start of share button-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="icon-container1 d-flex">
                    <div class="smd"> <i class=" img-thumbnail fab fa-twitter fa-2x" style="color:#4c6ef5;background-color: aliceblue"></i>
                        <p>Twitter</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-facebook fa-2x" style="color: #3b5998;background-color: #eceff5;"></i>
                        <p>Facebook</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-reddit-alien fa-2x" style="color: #FF5700;background-color: #fdd9ce;"></i>
                        <p>Reddit</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-discord fa-2x " style="color: #738ADB;background-color: #d8d8d8;"></i>
                        <p>Discord</p>
                    </div>
                </div>
                <div class="icon-container2 d-flex">
                    <div class="smd"> <i class="img-thumbnail fab fa-whatsapp fa-2x" style="color: #25D366;background-color: #cef5dc;"></i>
                        <p>Whatsapp</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-facebook-messenger fa-2x" style="color: #3b5998;background-color: #eceff5;"></i>
                        <p>Messenger</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-telegram fa-2x" style="color: #4c6ef5;background-color: aliceblue"></i>
                        <p>Telegram</p>
                    </div>
                    <div class="smd"> <i class="img-thumbnail fab fa-weixin fa-2x" style="color: #7bb32e;background-color: #daf1bc;"></i>
                        <p>WeChat</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer"> <label style="font-weight: 600">Page Link <span class="message"></span></label><br />
                <div class="row"> <input class="col-10 ur" type="url" placeholder="https://instarecipe.com" id="myInput" aria-describedby="inputGroup-sizing-default" style="height: 40px;"> <button class="cpy" onclick="myFunction()"><i class="far fa-clone"></i></button> </div>
            </div>
        </div>
    </div>
</div>

  </div>
</div>

<script>function myFunction() {

  $(".message").text("link copied");
  }</script>
{% block CookingTime %} {% endblock %} 


<div class="container">
  <div class="row">
    <div class="col">
      {% block recipename %} {% endblock %}
      {% block foodimage %}{% endblock %}
    </div>
    <div class="col">
      {% block ingredients %} {% endblock %} 
    </div>
    <div class="col">
      {% block methods %} {% endblock %} 
      {% block footer %} {% endblock %}
    </div>
  </div>


  {% block content %} {% endblock %}
  
  
<!-- jQuery and bootstrap packages -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
  <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  
 
  
  <!-- Clarity tracker -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "an8ufa7gro");
</script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setExcludedQueryParams", ["?targeturl.com","targeturl.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//petervandoorn.com/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
    <footer>
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2022 <a href="http://petervandoorn.com">petervandoorn.com</a>  </p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/favourites" class="nav-link px-2 text-muted">Previous Recipe</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
          </ul>
        </footer>
      </div> 
</html>