/* change the colors */
$primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;

@import "bootstrap";



body {
    padding-top: 90px;
}

section {
    min-height: 90vh;
}