{% extends "base.html" %}
{% block title %}
Instant Recipe {% endblock %}

{%block content%}
<h2>About:</h2>
<p>InstaRecipe is a simple hobby project by me, Peter. By combining my love for coding and food, I set out to better understand the Flask and Bootstrap frameworks and integrate to an API. I know, technical mumbo jumbo, the gist of it is: This was a rather complex coding project for me and I learned a lot. The recipes come from the breakfastAPI see <a href="https://github.com/MariiaSizova/breakfastapi">Github if you want to know more.</a> If you came here through a Facebook advertisement, that is because I'm trying to work out if responsive design (where the screensize scales to suit your device) actually leads to more engagement. And so I threw $10,- at facebook adds to generate some clicks</p>

<H2>Techstack</H2>
<p>I use Flask in Python to call on the Breakfast API, which returns a recipe with the ingredients and it's cooking time. I use the Rapid API to return a picture based on the Recipe's name (Though I only get 100 free calls per day). Then I used bootstrap (for the first time &#127881;) to render a website. The preview for sharing on socials was done using OpenGraph </p>

<H2>Source Code</H2>
<p> Check out my code repo here on <a href="https://github.com/pvd-dev/InstaRecipe">Github.</a> <br> Check out my writeup on this project on Medium </p>

<H2>Cookie notice </H2>
<p> I set cookies for the proper functioning of this site. 1 is a cookie that tracks what recipes you saved and another one is used to measure engagment with the app. Simply flush your caches to opt-out</p>


{% endblock %}

{% block footer%}{% endblock %}