{% extends "base.html" %}
{% block title %}
Instant Recipe {% endblock %}

{%block content%}


<div class="row" m-3>
    <div class="col-sm-6" m-2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">InstaRecipe is a simple hobby project by me, Peter. By combining my love for coding and food, I set out to better understand the Flask and Bootstrap frameworks and integrate to an API. I know, technical mumbo jumbo, the gist of it is: This was a rather complex coding project for me and I learned a lot. The recipes come from the breakfastAPI see Github if you want to know more. If you came here through a Facebook advertisement, that is because I'm trying to work out if responsive design (where the screensize scales to suit your device) actually leads to more engagement. And so I threw $10,- at facebook adds to generate some clicks</p>
            <a href="https://github.com/MariiaSizova/breakfastapi" class="btn btn-primary">Breakfast API on Github</a>
          </div>
        </div>
    </div>

    <div class="col-sm-6" m-2>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Techstack</h5>
            <p class="card-text">I use Flask in Python to call on the Breakfast API, which returns a recipe with the ingredients and it's cooking time. I use the Rapid API to return a picture based on the Recipe's name (Though I only get 100 free calls per day). Then I used bootstrap (for the first time &#127881;) to render a website. The preview for sharing on socials was done using OpenGraph.</p>
            <a href="https://www.youtube.com/watch?v=mqhxxeeTbu0" class="btn btn-primary">Check out this link if you want to learn more about Flask</a>
        </div>
        </div>
    </div> 
    <div class="col-sm-6" m-2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Source Code</h5>
          <p class="card-text">Check out my code and other details about how to setup InstaRecipe on your own</p>
          <a href="https://github.com/pvd-dev/InstaRecipe" class="btn btn-primary">InstaRecipe Code on Github</a>
        </div>
      </div>
    </div>

 

    <div class="col-sm-6" m-2>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cookie Notice</h5>
            <p class="card-text">I set cookies for the proper functioning of this site. 1 is a cookie that tracks what recipes you saved and another one is used to measure engagment with the app. Simply flush your caches to opt-out</p>
            <a href="https://support.google.com/accounts/answer/32050?hl=en&co=GENIE.Platform%3DDesktop" class="btn btn-primary">How to clear cookies</a>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer%}{% endblock %}