<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        
      <!-- HTML Meta Tags -->
      <title >Don't Know What To Eat Tonight? Try InstaRecipe</title>
      <meta name="description" content="InstaRecipe serves 12.000 recipe ideas instantly. Pick one you like and enjoy! ">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="https://instarecipe.nl/recipe/{{RecipeID}}">
      <meta property="og:type" content="website">
      <meta property="og:title" content="Don't know what to eat tonight? Try InstaRecipe and find a recipe you'll like!">
      <meta property="og:description" content="InstaRecipe served you 12.000 recipe ideas instantly. Pick one you like and enjoy! ">
      <meta property="og:image" content="{{ImageURL }}">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="summary_large_image">
      <meta property="twitter:domain" content="">
      <meta property="twitter:url" content="https://instarecipe.nl/recipe/{{RecipeID}}">
      <meta name="twitter:title" content="Don't know what to eat tonight? Try InstaRecipe and find a recipe you'll like!">
      <meta name="twitter:description" content="InstaRecipe  serves you 12.000 recipe ideas instantly. Try InstaRecipe and find a recipe you'll like! ">
      <meta name="twitter:image" content="{{ImageURL }}">

      <!-- Meta Tags Generated via https://www.opengraph.xyz -->
      
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css” integrity=”sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh” crossorigin=”anonymous”>
        <link rel=”stylesheet” href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        {{ share.load() }}
      </head>

     




<!-- This SCRIPT  manages fading out of the alert after 2 secods-->  
<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 7000);
</script>
<!-- end of the script that runs alerts-->  

<nav class="navbar navbar-light bg-light justify-content-between  ">
  <a class="navbar-brand" href="/"><h1 onclick="location.href = '/';">&#129368 &#129379 InstaRecipe</h1><h3 onclick="location.href = '/';">12.000 recipes <i>served</i> instantly </h3></a>
  <form class="form-inline">
    <button onclick="location.href = '/new';" type="button" class="btn btn-primary m-1" href="/new"><i class="bi bi-newspaper"></i> New Recipe </button>
    <button onclick="location.href = '/add_to_favourites';"type="button" class="btn btn-outline-primary  m-1"><i class="bi bi-bookmark-star"></i> Save this Recipe <span class="badge badge-pill badge-info">NEW</span></button>
    <button onclick="location.href = '/favourites';"type="button" class="btn btn-outline-primary  m-1"href="/about"><i class="bi bi-bookmarks"></i>  Your Saved Recipes</button>
    <button type="button"  class="btn btn-outline-primary m-1"  href="#" data-toggle="modal" data-target="#exampleModal"> <i class="bi bi-share"></i> Share</button>

  </form>
</nav>
<body>
<!-- Start of the code that runs alerts on the whole system. If there is an alert then it will be appended at the top of the <body> you can pass a category from the Python script to set color.-->  
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

  <!-- Start of share button-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
              {{ share.create(title='Share:', sites='facebook, twitter, linkedin') }}
              Or copy this link:<iclass="bi bi-clipboard-check"></i> <a href="https://instarecipe.nl/recipe/{{RecipeID}}">https://instarecipe.nl/recipe/{{RecipeID}}</a>
            </div>
                  </div>
    </div>
</div>

{%block content%}
{%endblock%}

<!-- Body of recipe with Name, Picture, Method and ingredients-->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% block recipename %} {% endblock %}
      {% block foodimage %}{% endblock %}
    </div>
    <div class="col-sm-4 m-2">
      {% block ingredients %} {% endblock %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr>
      {% block CookingTime %} {% endblock %} 

      {% block methods %} {% endblock %} 
      <hr>
      {% block footer %} {% endblock %}
    </div>
</div>


<!-- jQuery and bootstrap packages -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
  <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="dist/clipboard.min.js"></script>


  <!-- Start of the script for the share button-->
<script>function myFunction() {

  $(".message").text("link copied");
  }</script>

<!-- End of the script for the share button-->
 
  
<!-- Clarity tracker -->
<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "an8ufa7gro");
</script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setExcludedQueryParams", ["?targeturl.com","targeturl.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//petervandoorn.com/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
    <footer>
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <p class="col-md-4 mb-0 text-muted">&copy; 2022 <a href="http://petervandoorn.com">petervandoorn.com</a>  </p>
      
          <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          </a>
      
          <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/favourites" class="nav-link px-2 text-muted">Favourite Recipes</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item"class="nav-link px-2 text-muted"> {{ share.create(title='Share: ', sites='facebook, twitter, linkedin') }}</li>
          </ul>

         
        </footer>
      </div> 
</html>
