{% extends "base.html" %}
{% block title %}
Saved Recipes {% endblock %}

{%block content%}
<h2 class="m-4"><i class="bi bi-bookmarks"></i> Your saved Recipes</h2>
<hr>

{% block numberserved %}
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">&#129361;Holy guacamole!</h4>
  <p>InstaRecipe  served <strong>{{RecipeServed}}</strong> delicious recipes to food lovers just like you!</p>
  <hr>
  <p class="mb-0">Here are the delicious recipes you have saved:</p>
</div>
{% endblock %}

{% block table %}
<div class="row row-cols- row-cols-md-6 g-4">
{% for StoredRecipe in session["cart"] %}
<div class="card mb-4 m-5" style="max-width: 100%"">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ StoredRecipe.recipe.ImageUrl }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">&#127869 {{ StoredRecipe.recipe.name }}  <span class="badge bg-info text-white"><i class="bi bi-alarm"></i>  {{ StoredRecipe.recipe.total_duration }} Minutes</span></h5>
        <p class="card-text">{{StoredRecipe.recipe.directions }}</p>
        <p class="card-text"><small class="text-muted"> This is recipe number: #{{ StoredRecipe.recipe.id }}</small></p>
        <button onclick="location.href = '/recipe/{{StoredRecipe.recipe.id}}';" type="button" class="btn btn-outline-primary m-1" href="/new"><i class="bi bi-newspaper"></i> View recipe for {{ StoredRecipe.recipe.name }} </button>
          <button type="button"  class="btn btn-outline-secondary m-1"  href="#" data-toggle="modal" data-target="#exampleModal{{StoredRecipe.recipe.id}}"> <i class="bi bi-share"></i> Share {{ StoredRecipe.recipe.name }}</button>
      </div>
    </div>
  </div>
</div>


  </div>




  <!-- Start of share button-->
  <div class="modal fade" id="exampleModal{{StoredRecipe.recipe.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
            <div class="modal-header">
                <h5 class="modal-title">Share {{ StoredRecipe.recipe.name }}:</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
              {{ share.create(title='Share:', sites='facebook, twitter,linkedin') }} 
              Or copy this link:<iclass="bi bi-clipboard-check"></i> <a href="https://instarecipe.nl/recipe/{{StoredRecipe.recipe.id}}">https://instarecipe.nl/recipe/{{StoredRecipe.recipe.id}}</a>
              
            </div>
                  </div>
    </div>
</div>

{%endfor%}
</div>
{% endblock%}



<button onclick="location.href = '/delete_favourites';" type="button"  class="btn btn-danger" .m-5 href="#">Delete all Favourites  </button>

{% endblock %}

{% block footer%}{% endblock %}