{% extends "base.html" %}
{% block title %}
Instant Recipe {% endblock %}



<h2 class="m-4"><i class="bi bi-bookmarks"></i> Your saved Recipes</h2>
{% block recipename %} 
    <h2 class="d-flex justify-content-left"> &#127869 {{RecipeName}}</h2>
    

    {% endblock %}    

    {% block foodimage %}<img class="rounded" src="{{ImageURL }}"  width="75%" rounded alt="This is an image of {{RecipeName}}. If you don't see an image loaded, it means I exceeded my limit for Free image searches: Try again tomorrow">{% endblock %} 

    {% block ingredients %} 
    <h3 class="d-flex justify-content-left"> &#x1f6d2; Ingredients</h3>
        
        {% for Ingredient in Ingredients%}
            <li>{{ Ingredient}} </li>
            {% endfor %}
            {% endblock %}

    {% block methods %} 
       
    <h3 class="d-flex justify-content-left">&#128104;&#8205;&#127859;Directions</h3>
    <span class="badge bg-info text-white"><i class="bi bi-alarm"></i> {{CookingTime}} Minutes</span>
        <p>{{Directions}}</p>        
{% endblock %}


{% block footer%}This was recipe number: #{{RecipeID}}{% endblock %}



